/* Aquí definimos las Custom properties */
:root {
  --negro         : black;
  --blanco        : white;
  --gray          : #777;
  --lightGray     : #f1f1f1;
  --bordeGris     : #eeeeee;
  --grisSeccion   : #f6f6f6;
  --negroLetra    : #111;
  --mrgnSeccion   : 6em;
  --grisH3        : #999;
  --animacionHeight:18em;

  /* Tipografía */
  --tipo-principal: Helvetica Neue,Helvetica,Arial,sans-serif; 
}